/*
!/app
/app/*
!/app/etc
/app/etc/*
!/app/etc/config.php
!/app/etc/env.php
!/dev
/dev/*
!/dev/travis
/dev/travis/*
!/dev/travis/before_install.sh
!/dev/travis/before_script.sh
!/bin/
!/bin/composer.phar
/bin/*
!/.gitignore
!/.travis.yml
!/composer.json
!/README.md
!/config/
